@import "../omarchy/current/theme/waybar.css";

@define-color bg @background;
@define-color fg @foreground;
@define-color accent #7eadac;
@define-color shadow #1a1b1e;

* {

  border-radius: 1px;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 12px;
  font-weight: bold;
  min-height: 0;
  }


/* --- Waybar ---*/
window#waybar {
  background-color: transparent;
  border-bottom: 0px;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

window#waybar.empty #window {
  background-color: transparent;
  padding: 0;
}

/* --- Modules --- */
.modules-left {
  margin-left: 5px;
}

.modules-center {
  background: @bg;
  box-shadow: 1px 1px 3px 0px @shadow;
  margin: 1px 8px 2px 0px;
  border-radius: 2px;
  padding: 0px;
 }

.modules-right {
  margin-right: 5px;
  background: @bg;
  box-shadow: 1px 1px 3px 0px @shadow;
  border-radius: 2px;
  margin: 1px 8px 2px 0px;
  padding: 0px;
}

/* --- Workspaces --- */
#workspaces {
  background-color: @bg;
  box-shadow: 1px 1px 3px 0px @shadow;
  margin: 1px 8px 2px 0px;
  border-radius: 2px;
}

#workspaces button {
  color: @fg;
  background-color: transparent;
  margin: 2px;
  padding: 0 5px;
  border-radius: 0;
}


#workspaces button:first-child {
  border-radius: 1px 0 0 1px;
}

#workspaces button:last-child {
  border-radius: 0 1px 1px 0;
}

#workspaces button:first-child:last-child {
  border-radius: 1px;
}

#workspaces button.urgent {
  color: red;
  background-color: yellow;
}

#workspaces button.active {
  background-color: @accent;
  color: @bg;
}

#workspaces button.empty {
  color: @fg;
  opacity: 0.4;
}

#workspaces button.empty.active {
  color: @bg;
  opacity: 1;
}

/* --- Custom Color+Shadow Omarchy --- */
#custom-omarchy{
  padding: 0 5px;
  border-radius: 2px;
  background-color: @bg;
  box-shadow: 1px 1px 3px 0px @shadow;
  color: @accent;
  margin: 1px 8px 2px 0px;
}
#window{
  padding: 0 5px;
  background: @bg;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @shadow;
  margin: 1px 8px 2px 0px;
  color: @fg;
}

/* --- General Modules --- */

#tray,
#cava,
#memory,
#cpu,
#battery,
#network,
#custom-updatespacman,
#temperature,
#bluetooth,
#pulseaudio,
#custom-weather,
#custom-update,
#custom-screenrecording-indicator,
#custom-idle-indicator,
#custom-notification-silencing-indicator,
#clock {
  min-width: 12px;
  padding: 0 5px;
  margin: 0 2px;

}

/* --- Right module Hover color --- */
#cpu:hover,
#memory:hover,
#battery:hover,
#temperature:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover {
 background-color: @shadow;
}

#cava {
  padding: 0 5px;
  background-color: @background;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @shadow;
  margin: 1px 8px 2px 0px;
  border-radius: 0;
  color: @accent;
}

tooltip {
  padding: 2px;
}

#mpris {
  padding: 0 5px;
  background-color: @bg;
  border-radius: 2px;
  box-shadow: 1px 1px 3px 0px @shadow;
  margin: 1px 8px 2px 0px;
  color: @fg;
}

tooltip {
 padding: 4px;
 background: @bg;
 font-size: 10px;
 border: 1px solid alpha(@foreground, 0.8);
 border-radius: 8px;
}
tooltip label {
    color: @fg;
    font-weight: normal;
}

#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 2.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}


#custom-idle-indicator,
#custom-notification-silencing-indicator {
  min-width: 12px;
  margin-left: 0;
  margin-right: 0;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-idle-indicator.active,
#custom-notification-silencing-indicator.active {
  color: #a55555;
}

/* Specific Module */

#tray-expander {
  padding: 0 5px;
  background: @bg;
  color: @fg;
  border-radius: 1px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
    font-size: 12px;
    padding: 0 2px;
    margin: 2px;
}

#custom-screenrecording-indicator {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: transparent;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
  animation-name: blink-recording;
  animation-duration: 0.5s;
}

@keyframes blink-recording {
    to {
        color: @background;
    }
}
