r {
  border-radius: 0;
  font-family: Inter Medium;
  font-size: 14px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #c0caf5;
}

tooltip {
  background: #1d202f;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #f7768e;
}

#scratchpad {
  color: #a9b1d6;
  font-weight: bold;
  border-radius: 15px 15px 15px 15px;
  background-color: #24283b;
  padding-right: 10px;
  margin-right: 10px;
  padding-left: 10px;
}

#workspaces button {
  padding: 0px 10px;
  color: #a9b1d6;
}

#workspaces button.focused {
  box-shadow: 2px 2px 2px #1d202f;
  color: #c0caf5;
  background-color: #c53b53;
  border-radius: 15px;
}

#workspaces button.urgent {
  color: #c0caf5;
  background-color: #e0af68;
  border-radius: 15px;
}

#workspaces button:hover {
  color: #c0caf5;
  background-color: #bb9af7;
  border-radius: 15px;
}

#workspaces,
#language,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#backlight {
  background-color: #24283b;
  padding: 0px 8px;
  margin: 2px 0px;
}

#workspaces {
  font-weight: bold;
  margin-left: 10px;
  border-radius: 15px 15px 15px 15px;
}

#clock {
  color: #f7768e;
  border-radius: 0px 15px 15px 0px;
  margin-right: 10px;
  padding-right: 10px;
}

#battery {
  color: #9ece6a;
}

#backlight {
  color: #e0af68;
}

#idle_inhibitor {
  color: #7dcfff;
}

#battery.charging {
  color: #7aa2f7;
}

#battery.warning:not(.charging) {
  background-color: #414868;
  color: #c0caf5;
}

#language {
  color: #bb9af7;
}

#pulseaudio {
  color: #7aa2f7;
}
